chapter05/node_modules/*
chapter05/packages/app/node_modules/*
chapter05/packages/mife-1/node_modules/*
chapter05/packages/mife-2/node_modules/*
chapter05-ssr/node_modules/*
chapter05-ssr/packages/app/node_modules/*
chapter05-ssr/packages/mife-1/node_modules/*
chapter05-ssr/packages/mife-2/node_modules/*
chapter06/mf-1/node_modules/*
chapter06/mf-2/node_modules/*
chapter06/mf-gw/node_modules/*